/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header css */
header{
    background-color: #2D25A0;
    margin-bottom: 70px;
}
/* nav css  */
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    margin-left: 156px;
    margin-right: 124px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    color: #FFFF;
    
}
nav ul li{
    margin: 0 17px;    
}


nav a{
    text-decoration: none;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFF;
    padding-left: 24px;

    
    background-color: #E02C6D;

}
.fas-login{
    margin-right: 8px; 
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.span{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
/* banner style */
.banner-full{   
display: flex;
justify-content: center;
width: 1349px;
height: 697px;
background-color: #2D25A0;

}
.banner-text{
position: absolute;
width: 585px;
height: 230px;
left: 156px;
top: 207px;
color: #FFFFFF;
font-size: 20px;
    

}
.watch-button{
   color: white;
   text-decoration: none;
   font-size: 16px;
   padding: 10px 24px;
   background-color: #E02C6D;
   border: 1px solid #E02C6D;
   border-radius: 2px;

}
.banner-img{
position: absolute;
width: 556.01px;
height: 438px;
left: 600px;
top: 153px;
}
.banner-img:hover{
    transform: scale(1.2);
}

.banner-img img{
width: 556.01px;
height: 438px;
}
/* players styles */
.section-one{
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:32px;
}

.player{
    width: 330px;
    height: 474px;
    margin-bottom: 27px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .thumbnail img{
    width: 300px;
   height: 256px;
   margin: 15px 15px 15px 16px;
} 
.player-info{
width: 300px;
height: 154px;
margin: 0px 15px 33px 15px ;
}
.player-name{
    font-size: 28px;
}
.player-info p{
    font-weight: 400;
    font-size: 12px;
    color: #6C6C6C;
    margin: 10px 0 33px 0;
}
/* section two style start */
.side-by-side{
    display: flex;
    width: 80%;
    margin: auto;
    }
.blog{
        width: 50%;
        margin-top: 50px;
        margin-left: 20px;
    }
    .blog h1{
        color:black;
        width: 469px;
        height: 120px;
        
        font-style: 700;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
    }
    .blog p{
        font-weight: 400;
        font-size: 16px;
        color: #6C6C6C;
    }
    .blog a{
        color: #FFFF;
        text-decoration: none;
        padding: 10px 24px;
        background-color: #E02C6D;
        align-items: center;
    }
    
 #live-watch{
        margin-top:30px;
        width: 170px;
    } 
.fas{
        padding-left: 10px;
    
    } 
.match-img{
    width: 50%;
    height: auto;
    margin-right: 20px;
    margin-top: 30px;
}
.match-img img{
    width: 100%;
    height: auto;
}
/* section two style end */

/* section three strat */
.best-team{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.best-team-text{
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
}
.best-team-text h1{
    color:black;
    width: 469px;
    height: 120px;
    padding-left: 30px;
    
    font-style: 700;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}
.best-team-img{
    width: 50%;
    height: auto;
    margin-right: 20px;
    margin-top: 30px;
}
.best-team-img img{
    width: 80%;
    height: 80%;
}
/* section three end */
/* section four start */
.media-partner img{
    padding: auto;
    margin-left: 25%;
}
/* section four end */

/* footer style start */

footer{
    margin-top: 158px;
}
.footer-img{
    display: flex;;
    flex-direction: column;
     align-items: center;
}
.footer-img img{
    width: 483px;
    height: 110px;
}
.footer-img p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 63px;
}
#social-icons img{
    width: 32px;
    height: 32px;
}
#social-icons{
  margin: 20px;
}
/* footer style end */
/* media queries start */
@media only screen and (min-width:300px) and (max-width:687px){

    header{
        background-color:#2D25A0;
    }
    main{
        
      width: 360px;
      margin-left: 10px;
    }
    .banner-text {
        
        margin-top:0px
    }
    .banner-full{
        display: block;
    }
    .section-one{
        
        justify-content: center;
    }

    .players{
        
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-content: center;
       
    }
    .side-by-side{
        display: grid;
        margin: 0;
        width: 360px;
        grid-template-columns: repeat(1,1fr);
        
    }
    
    header > .banner-full:hover > .banner-img {
        transform: scale(0.5);
        
    }
    .banner-img{
        
        width: 360px;

    }
    .banner-img img{
        
        width: 360px;
    }
    
   nav{
       display: none;
   }
   .blog h1{
    color:black;
    
    
    font-style: 700;
    font-weight: bold;
    font-size: 12px;
    line-height: 60px;
}
#title{
    color: #FFFF;
   height: 100px;
    margin-bottom: 12px;
    font-style: 700;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    }
 
    .footer-img img{
        width: 383px;
        height: 110px;
    }
    
    .footer-img p{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 63px;
    }

   
}








/* media queries end */